# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# Logs
*.log

# Rider
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Git
*.orig